name: CI

on:
  push:
    branches:
      - '*'
    tags:
      - v*
  workflow_dispatch:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    steps:
    - name: Install dependencies
      run: |
        apk add build-base git bash p7zip

    - name: Workaround permission issue
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: update dependencies
      run: |
        make update_deps

    - name: update lua
      run: |
        git clone --depth 1 -b ee-v5.4.4 https://github.com/ps2dev/lua
        cd lua
        make --trace clean all install platform=PS2

    - name: Compile project
      run: |
        make clean all

    - name: Get short SHA
      id: slug
      run: | 
        echo "SHA8=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_ENV

    - name: build changelogs and move extra files
      run: | 
        make changelog
        cp LICENSE bin/LICENSE.TXT

    - name: Get branch
      if: github.ref != 'refs/heads/main'
      id: brnch
      run: | 
        echo "BRANCH=$(echo -${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV

    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v3
      with:
        name: ${{ github.event.repository.name }}-${{ env.SHA8 }}
        path: bin

    - name: Compress & Rename bin folder
      run: |
        echo Repository commit hash is: ${{ env.SHA8 }}>>bin/INSTALL/CORE/HASH.TXT
        echo if you report an issue to the developer. there is a high chance that he might ask you this code>>bin/INSTALL/CORE/HASH.TXT
        mv bin/ ${{ github.event.repository.name }}/
        7z a -t7z ${{ github.event.repository.name }}${{ env.BRANCH }}.7z ${{ github.event.repository.name }}/
 
    - name: Create pre-release
      if: github.ref == 'refs/heads/main'
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: true
        automatic_release_tag: "latest"
        title: "Latest Development build"
        files: |
           ${{ github.event.repository.name }}${{ env.BRANCH }}.7z

    - name: Release
      if: startsWith(github.ref, 'refs/tags/v')
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
           ${{ github.event.repository.name }}${{ env.BRANCH }}.7z
