name: CI

on:
  push:
    branches:
      - '*'
    tags:
      - v*
  pull_request:
  workflow_dispatch:
  repository_dispatch:
    types: [run_build]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    steps:
    - name: Install dependencies
      run: |
        apk add build-base git bash p7zip

    - name: Workaround permission issue
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - uses: actions/checkout@v3
    - run: |
        git fetch --prune --unshallow

    - name: update dependencies
      run: |
        echo wLaunchELF
        wget https://github.com/israpps/wLaunchELF_ISR/releases/download/latest/BOOT-EXFAT-DS34-XFROM.ELF -O bin/INSTALL/CORE/BACKDOOR.ELF
        cp bin/INSTALL/CORE/BACKDOOR.ELF bin/INSTALL/ASSETS/BOOT/BOOT.ELF

    - name: Compile project
      run: |
        make clean all

    - name: Get short SHA
      id: slug
      run: | 
        echo "SHA8=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_ENV

    - name: Upload artifacts
      if: ${{ success() }}
      uses: actions/upload-artifact@v2
      with:
        name: ${{ github.event.repository.name }}-${{ env.SHA8 }}
        path: bin

    - name: Compress & Rename bin folder
      run: |
        echo Repository commit hash is: ${{ env.SHA8 }}>>bin/INSTALL/CORE/HASH.TXT
        echo if you report an issue to the developer. there is a high chance that he might ask you this code>>bin/INSTALL/CORE/HASH.TXT
        mv bin/ ${{ github.event.repository.name }}/
        7z a -t7z ${{ github.event.repository.name }}.7z ${{ github.event.repository.name }}/
 
    - name: Create pre-release
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: true
        automatic_release_tag: "latest"
        title: "Latest Development build"
        files: |
           ${{ github.event.repository.name }}.7z

    - name: Release
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: false
        files: |
           ${{ github.event.repository.name }}.7z
